extends layout 

mixin option(name)
    if name == loc 
        option(value=name selected)=name
    else
        option(value=name)=name


block links 
    link(rel="stylesheet" href="./stylesheets/style.css")
    link(rel="stylesheet" href="./stylesheets/main.css")
    script(src="./javascripts/Chart.bundle.min.js")

block content
    div.mobile_warning
        span.mobile_warning Turn your device for better expierence!
    div#container
        nav 
            span.name WOT Server Stats
            span.links 
                a(href="/about") About me
                a(href="https://github.com/DontEatRice/Server-Stats-WOT" target='_blank') Github
        div.block 
            div(class="chart-container")
                canvas#chart
                    p Loading chart...
            div.options
                span Choose different server 
                span 
                    select
                        +option('EU')
                        +option('RU')
                        +option('NA')
                        +option('ASIA')
                span.modeRedirects Click here to see average number of players in last [#[a(href='/week') week]] or [#[a(href='/month') month]]!
        footer 
            span.links 
                a(href="") About me 
                a(href="") Github

    script(src="./javascripts/main.js")
    script(src="./javascripts/hours/hours.js")
    
    