extends layout 

mixin option(name)
    if name == loc 
        option(value=name selected)=name
    else
        option(value=name)=name


block links 
    link(rel="stylesheet" href="./stylesheets/style.css")
    script(src="./javascripts/Chart.bundle.min.js")

block content
    div.mobile_warning
        span.mobile_warning Turn your device for better expierence!
    div#container
        nav 
            span.name WOT Server Stats
            span.links 
                a(href="") About me
                a(href="") Github
        div.block 
            div(class="chart-container")
                canvas#chart
            div.options
                span Choose different server 
                span 
                    select
                        +option('EU')
                        +option('RU')
                        +option('NA')
                        +option('ASIA')
        footer 
            span.links 
                a(href="") About me 
                a(href="") Github

    script.
        let stats = !{JSON.stringify(data)}
    script(src="./javascripts/main.js")
    